@import "tailwindcss";

@theme {
  --color-background: rgb(14, 231, 220);
  --color-background-f: rgb(190, 231, 229);
  --color-header: #5f6368;
  --color-textColor: #3c4043;
  --color-secondaryBackground: #f5f5f5;
}
